{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
    </head>
    <body class = 'body'>
        <header class = 'header'>
            <div class = 'navbar'>
                <a href = '/'>Shop</a>
                {% if user.is_authenticated %} 
                <a href = "profile/user_profile">Profile</a>
                {%endif%}
                {% if request.user.is_staff %} 
                <a href = "/order">Orders</a>
                {%endif%}
                {% if form.errors %}
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>
        </header>
        <main class = "fire_main">
            <h1>Order Registration Form</h1>
            <form method="post">
                {% csrf_token %}
                <div>
                    <label for="fname">First Name:</label>
                    {{form.first_name}}
                </div>
                <div>
                    <label for="lname">Last Name:</label>
                    {{form.last_name}}
                </div>
                <div>
                    <label for="username">Username:</label>
                    {{form.username}}
                </div>
                <div>
                    <label for="email">Email:</label>
                    {{form.email}}
                </div>
                <div>
                    <label for="password">Password:</label>
                    {{form.password1}}
                </div>             
                <label for="fname">Confirm password:</label>
                {{form.password2}}
                <h3>Already have an account, <a href="/profile/login/">Login</a>?</h3>
                <button type="submit" class="button">Join our community</button>
            </form>
        </main>
        <footer>
        </footer>
    </body>
    {% endblock %}